// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.feed-pic{
    width: 100px;
    height: 100px;
}

.facebook-bg {
    background-color: #3b5998
}

.m-input{
    width: 300px!important;
}

.small-avatar {
    width: 2rem;
    height: 2rem;
}

.bg-white {
    background-color: white;
}

.full-screen{
    min-height: 89vh!important;
    margin-top: 5rem;
}

.new-post {
    // margin-top: ;
}